In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### 用range快速生成list

In [2]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [3]:
list("ABCDEF")

['A', 'B', 'C', 'D', 'E', 'F']

In [4]:
{x**2 for x in range(1,10)}

{1, 4, 9, 16, 25, 36, 49, 64, 81}

### for迴圈

In [13]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [17]:
s=0
for i in range(1,101):
    s = s + i

In [18]:
s

5050

### list append

In [19]:
price = [1024,399,20000]

In [21]:
c = 34.1450247

In [22]:
for p in price:
    print(p*c)

34964.5052928
13623.8648553
682900.4940000001

In [23]:
L = []

In [24]:
L

[]

In [25]:
L.append(87)

In [26]:
L

[87]

In [27]:
L.append("x")

In [28]:
L

[87, 'x']

### 字串分割

In [39]:
spam = input("請輸入你要買的東西的價格")

請輸入你要買的東西的價格1024,399,20000,600

In [40]:
spam

'1024,399,20000,600'

In [42]:
data = spam.split(",")

In [43]:
data

['1024', '399', '20000', '600']

In [44]:
for p in data:
    p = float(p)
    print(p*c)

34964.5052928
13623.8648553
682900.4940000001
20487.01482

In [52]:
p_list = []
A = input("請輸入你要買的東西的價格: ")
data = A.split(",")

for p in data:
    p = float(p)
    p_list.append(p*c)
    print("價格: ",int(p*c),"台幣")

請輸入你要買的東西的價格: 200,500,412,365
價格:  6829 台幣
價格:  17072 台幣
價格:  14067 台幣
價格:  12462 台幣

In [53]:
p_list

[6829.00494, 17072.51235, 14067.7501764, 12462.9340155]

In [59]:
spam = "399 521 458 950  250"

In [60]:
spam.split(" ")

['399', '521', '458', '950', '', '250']

In [61]:
spam.split()

['399', '521', '458', '950', '250']

In [62]:
def exchange(p):
    p = float(p)
    return p*c

In [64]:
exchange("399")

13623.8648553

### map

#### map(f,L)
#### 把f這個函數作用到L list中的每一個元素

In [67]:
L = "333 1024 488  26666".split()

In [68]:
L

['333', '1024', '488', '26666']

In [70]:
list(map(exchange,L))

[11370.2932251, 34964.5052928, 16662.7720536, 910511.2286502001]

### 緊急用的函數 lambda

In [71]:
def f(x):
    return(x**2)

In [72]:
f(2)

4

In [78]:
g = lambda x:x**2 #函數:x--x^2

In [77]:
L

['333', '1024', '488', '26666']

In [80]:
list(map(lambda p:float(p)*c,L))

[11370.2932251, 34964.5052928, 16662.7720536, 910511.2286502001]

In [91]:
grades = [47,50,66,89]

In [93]:
list(map(lambda g:np.sqrt(g)*10,grades))

[68.55654600401044, 70.71067811865476, 81.24038404635961, 94.33981132056603]

### exercise

In [82]:
egg = "9 4 8 7".split()

In [83]:
egg

['9', '4', '8', '7']

In [89]:
list(map(lambda x:2*int(x)+1,egg))

[19, 9, 17, 15]

### list comprehension

In [94]:
L

['333', '1024', '488', '26666']

In [96]:
[float(p)*c for p in L]

[11370.2932251, 34964.5052928, 16662.7720536, 910511.2286502001]

### 文字顏色

In [102]:
print("\033[4;37;40mHello,World!")

Hello,World!

In [103]:
print("Hi!")

Hi!

### 合併list

In [104]:
L

['333', '1024', '488', '26666']

In [105]:
s = ""

for i in L:
    s=s+i+","

In [106]:
s

'333,1024,488,26666,'

In [108]:
s.rstrip(",")

'333,1024,488,26666'

In [109]:
s

'333,1024,488,26666,'

In [110]:
s = s.rstrip(",")

In [111]:
s

'333,1024,488,26666'

In [113]:
s[0]

'3'

In [114]:
s[:-1]

'333,1024,488,2666'

In [115]:
s[5]

'0'

In [117]:
s[1:10]

'33,1024,4'

In [116]:
",".join(L)

'333,1024,488,26666'

### 物件中的method

In [118]:
egg = [12,87,55,77,32]

In [119]:
egg.sort()

In [120]:
egg

[12, 32, 55, 77, 87]

In [121]:
ham = "今天天氣很好"

In [122]:
ham[3]

'氣'

In [124]:
ham[::2] #隔2個取一次

'今天很'

In [125]:
ham[::-1]

'好很氣天天今'

In [1]:
from ipywidgets import interact

In [2]:
def move(n=1):
    print(" "*n+"Σ(ﾟωﾟ)")

In [3]:
move()

 Σ(ﾟωﾟ)

In [4]:
interact(move,n=(1,40));

interactive(children=(IntSlider(value=1, description='n', max=40, min=1), Output()), _dom_classes=('widget-int…

In [5]:
def move_1(n=1):
    print(" "*n+"Σ(ﾟωﾟ)")
    if n<=20:
        print(" "*n+"Σ(ﾟωﾟ)")
    elif n>20:
        print(" "*n+"(っ・Д・)っ")

In [7]:
interact(move_1,n=(1,20));

interactive(children=(IntSlider(value=1, description='n', max=20, min=1), Output()), _dom_classes=('widget-int…