In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### 作業三 102.103年農業種植 資料分析

In [3]:
df3 = pd.read_csv("http://ipgod.nchc.org.tw/dataset/4f6733f1-2e0e-4ae1-b335-7bec5d4a1912/resource/ed090d7b-97e3-47d6-a8f0-211dfaa9a707/download/345000000g-at0078_fc624.csv")

In [4]:
df3.head()

   year  type category  plant_area  reward_area  yield_avg     yield
0   102  其他產品      蜂王漿           0            0          0    369100
1   102  其他產品       蜂蜜           0            0          0  12758000
2   103   花卉類      文心蘭         261          261      22003      5736
3   102   花卉類      文心蘭         249          249      21436      5334
4   103   花卉類       百合         303          303      19540      5913

In [10]:
df3[df3.type == "花卉類"]

    year type category  plant_area  reward_area  yield_avg  yield
2    103  花卉類      文心蘭         261          261      22003   5736
3    102  花卉類      文心蘭         249          249      21436   5334
4    103  花卉類       百合         303          303      19540   5913
5    102  花卉類       百合         290          290      20429   5919
6    103  花卉類      洋桔梗         121          121      24266   2940
7    102  花卉類      洋桔梗         114          114      25108   2870
8    103  花卉類      唐昌蒲         210          210      17306   3640
9    102  花卉類      唐昌蒲         197          197      16935   3343
10   103  花卉類       火鶴         189          189      22253   4214
11   102  花卉類       火鶴         198          198      21650   4284
12   103  花卉類       玫瑰         222          222      42813   9525
13   102  花卉類       玫瑰         228          228      41898   9543
14   103  花卉類       菊花         747          747      22847  17077
15   102  花卉類       菊花         745          745      23748  17693

In [11]:
len(df3[df3.type == "花卉類"])

14

In [12]:
len(df3[df3.type == "果品類"])

42

In [8]:
df3[df3.category == "文心蘭"]

   year type category  plant_area  reward_area  yield_avg  yield
2   103  花卉類      文心蘭         261          261      22003   5736
3   102  花卉類      文心蘭         249          249      21436   5334

In [9]:
df3[df3.category == "檳榔"]

    year type category  plant_area  reward_area  yield_avg   yield
18   103  果品類       檳榔       44959        44511       2728  121435
19   102  果品類       檳榔       45792        45329       2737  124054

In [16]:
df3[df3.plant_area > 10000]

     year     type  category  plant_area  reward_area  yield_avg    yield
18    103      果品類        檳榔       44959        44511       2728   121435
19    102      果品類        檳榔       45792        45329       2737   124054
22    103      果品類        龍眼       11432        11417       8905   101668
23    102      果品類        龍眼       11498        11477       7927    90975
24    103      果品類        荔枝       11138        11079       8401    93078
25    102      果品類        荔枝       11388        11333       8225    93221
28    103      果品類        西瓜       10545        10545      20041   211330
29    102      果品類        西瓜       11193        10748      19788   212690
32    103      果品類        芒果       15068        14833      10311   152932
33    102      果品類        芒果       16509        16352      13159   215168
54    103      果品類        ?梨       10154         8950      50976   456243
56    103      果品類        香蕉       13999        13291      22565   299900
57    102      果品類        香蕉       13344        13042      22334   291292
82    103      蔬菜類        竹筍       26323        26278      10549   277201
83    102      蔬菜類        竹筍       25881        25825      10342   267092
104   103     特用作物        茶葉       11906        11785       1290    15200
105   102     特用作物        茶葉       11903        11818       1245    14718
118   103  稻米及雜糧作物       落花生       21645        21644       3165    68513
119   102  稻米及雜糧作物       落花生       18610        18609       2515    46809
120   103  稻米及雜糧作物        甘藷       10128        10128      23190   234883
122   103  稻米及雜糧作物      食用玉米       13464        13461       7697   103608
123   102  稻米及雜糧作物      食用玉米       12661        12661       7382    93465
124   103  稻米及雜糧作物  硬質(飼料)玉米       13544        13544       4592    62192
136   103  稻米及雜糧作物        稻米      271077       271051       5163  1399392
137   102  稻米及雜糧作物        稻米      270264       270165       4721  1275456

In [21]:
df3.sort_values(by="plant_area",ascending= False)

     year     type  category  plant_area  reward_area  yield_avg     yield
136   103  稻米及雜糧作物        稻米      271077       271051       5163   1399392
137   102  稻米及雜糧作物        稻米      270264       270165       4721   1275456
19    102      果品類        檳榔       45792        45329       2737    124054
18    103      果品類        檳榔       44959        44511       2728    121435
82    103      蔬菜類        竹筍       26323        26278      10549    277201
83    102      蔬菜類        竹筍       25881        25825      10342    267092
118   103  稻米及雜糧作物       落花生       21645        21644       3165     68513
119   102  稻米及雜糧作物       落花生       18610        18609       2515     46809
33    102      果品類        芒果       16509        16352      13159    215168
32    103      果品類        芒果       15068        14833      10311    152932
56    103      果品類        香蕉       13999        13291      22565    299900
124   103  稻米及雜糧作物  硬質(飼料)玉米       13544        13544       4592     62192
122   103  稻米及雜糧作物      食用玉米       13464        13461       7697    103608
57    102      果品類        香蕉       13344        13042      22334    291292
123   102  稻米及雜糧作物      食用玉米       12661        12661       7382     93465
104   103     特用作物        茶葉       11906        11785       1290     15200
105   102     特用作物        茶葉       11903        11818       1245     14718
23    102      果品類        龍眼       11498        11477       7927     90975
22    103      果品類        龍眼       11432        11417       8905    101668
25    102      果品類        荔枝       11388        11333       8225     93221
29    102      果品類        西瓜       11193        10748      19788    212690
24    103      果品類        荔枝       11138        11079       8401     93078
28    103      果品類        西瓜       10545        10545      20041    211330
54    103      果品類        ?梨       10154         8950      50976    456243
120   103  稻米及雜糧作物        甘藷       10128        10128      23190    234883
55    102      果品類        ?梨        9797         8658      47757    413465
121   102  稻米及雜糧作物        甘藷        9662         9658      22270    215093
59    102      蔬菜類        毛豆        9293         9286       7525     69877
112   103     特用作物      製糖甘蔗        8635         7442      67547    502706
58    103      蔬菜類        毛豆        8532         8532       7366     62847
..    ...      ...       ...         ...          ...        ...       ...
44    103      果品類       葡萄柚         595          589      16099      9481
84    103      蔬菜類        蘆筍         578          577       5622      3243
63    102      蔬菜類        豌豆         557          508       8151      4137
114   103     特用作物      生食甘蔗         541          496      79581     39463
106   103     特用作物        山藥         478          478      26769     12805
107   102     特用作物        山藥         473          473      25060     11854
131   102  稻米及雜糧作物        大豆         471          469       1873       879
115   102     特用作物      生食甘蔗         411          368      76418     28112
116   103  稻米及雜糧作物        小米         370          370       1918       709
117   102  稻米及雜糧作物        小米         313          313       1841       576
4     103      花卉類        百合         303          303      19540      5913
5     102      花卉類        百合         290          290      20429      5919
129   102  稻米及雜糧作物        綠豆         268          268        838       224
2     103      花卉類       文心蘭         261          261      22003      5736
3     102      花卉類       文心蘭         249          249      21436      5334
94    103      蔬菜類        洋菇         249          249         12      3110
95    102      蔬菜類        洋菇         242          242         12      2921
13    102      花卉類        玫瑰         228          228      41898      9543
12    103      花卉類        玫瑰         222          222      42813      9525
8     103      花卉類       唐昌蒲         210          210      17306      3640
11    102      花卉類        火鶴         198          198      21650      4284
9     102      花卉類       唐昌蒲         197          197      16935      3343
10    103      花卉類        火鶴         189          189      22253      4214
128   103  稻米及雜糧作物        綠豆         145          145       1091       158
6     103      花卉類       洋桔梗         121          121      24266      2940
7     102      花卉類       洋桔梗         114          114      25108      2870
109   102     特用作物        樹薯          41           41      14192       583
108   103     特用作物        樹薯          35           35      14954       518
1     102     其他產品        蜂蜜           0            0          0  12758000
0     102     其他產品       蜂王漿           0            0          0    369100

[138 rows x 7 columns]