In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### 作業四 全台縣市基地台數量 資料分析

In [2]:
df4 = pd.read_csv("http://ipgod.nchc.org.tw/dataset/a34ecfb7-add3-44c4-84f5-18832b38c88a/resource/da2551f3-03ac-4c81-8eeb-320d83c606d6/download/8047aa6677bb16264703e21c8874fb00.csv")

In [3]:
df4.head()

    縣市  鄉鎮區      統計期  類別  基地臺
0  宜蘭縣  三星鄉  1070131  3G   42
1  宜蘭縣  三星鄉  1070131  4G   51
2  宜蘭縣  大同鄉  1070131  3G   60
3  宜蘭縣  大同鄉  1070131  4G   83
4  宜蘭縣  五結鄉  1070131  3G   72

In [9]:
df4[df4.基地臺 > 100].head()

     縣市  鄉鎮區      統計期  類別  基地臺
6   宜蘭縣  冬山鄉  1070131  3G  105
7   宜蘭縣  冬山鄉  1070131  4G  103
10  宜蘭縣  宜蘭市  1070131  3G  153
11  宜蘭縣  宜蘭市  1070131  4G  147
16  宜蘭縣  頭城鎮  1070131  3G  102

In [8]:
df4.sort_values(by="基地臺",ascending=False).head()

       縣市  鄉鎮區      統計期  類別  基地臺
3505  臺中市  西屯區  1060930  4G  946
4241  臺中市  西屯區  1060831  4G  929
4977  臺中市  西屯區  1060731  4G  921
4281  臺北市  中山區  1060831  4G  905
3545  臺北市  中山區  1060930  4G  905

In [16]:
len(df4.sort_values(by="基地臺",ascending=False))

5891

In [12]:
len(df4[df4.類別 == "4G"])

2946

In [19]:
len(df4[df4.類別 == "3G"])

2945

In [20]:
len(df4[df4.類別 == "2G"])

0

In [13]:
df4 = df4.sort_values(by="基地臺",ascending=False)

In [17]:
df4.index = range(1,5892)

In [18]:
df4.head()

    縣市  鄉鎮區      統計期  類別  基地臺
1  臺中市  西屯區  1060930  4G  946
2  臺中市  西屯區  1060831  4G  929
3  臺中市  西屯區  1060731  4G  921
4  臺北市  中山區  1060831  4G  905
5  臺北市  中山區  1060930  4G  905

In [23]:
df4.tail()

       縣市  鄉鎮區      統計期  類別  基地臺
5887  金門縣  烏坵鄉       28  3G    1
5888  金門縣  烏坵鄉  1060731  3G    1
5889  金門縣  烏坵鄉  1060930  3G    1
5890  澎湖縣  白沙鎮  1060731  4G    1
5891  金門縣  烏坵鄉  1060831  3G    1

In [22]:
len(df4[df4.基地臺 > 500 ])

145